<div id="badges">
  <a target="_blank" rel="noopener" href="https://gui.fediseer.com/instances/detail/rollenspiel.social">
    <img src="http://fediseer.com/api/v1/badges/endorsements/rollenspiel.social.svg" alt="Fediseer Endorsements" />
  </a>
  <a target="_blank" rel="noopener" href="https://fedimins.net/covenant/">
    <img src="http://fediseer.com/api/v1/badges/endorsements/rollenspiel.social.svg" alt="Fedimins Covenant" />
  </a>
</div>

<div id="links">
  <h2>Hier finden Sie wichtige Links:</h2>
  <ul>
    <li><a href="https://rollenspiel.monster/terms">Nutzungsbedingungen</a></li>
    <li><a href="https://rollenspiel.monster/charta/mastodon/">Charta</a></li>
    <li><a href="https://rollenspiel.monster/imprint">Impressum</a></li>
    <li><a href="/terms#datenschutzinformation">Datenschutzinformation</a></li>
  </ul>
</div>

<div id="relays">
  <h2>Verbundene Relays:</h2>
  <ul>
    <li><a href="https://relay.rollenspiel.monster/">RollenspielMonster</a></li>
    <li><a href="https://relay.fedimins.net/">Fedimins</a></li>
  </ul>
</div>

<div id="tools">
  <h2>Verwendetes Tool:</h2>
  <ul>
    <li>
      <p>
        <a href="https://codeberg.org/RollenspielMonster/simple-toot"><strong>Simple Toot</strong></a><br />
        Tool um eine Begrüßungsnachricht an neue Benutzer zu schrieben.
      </p>
    </li>
    <li>
      <p>
        <a href="https://github.com/nanos/FediFetcher"><strong>FediFetcher</strong></a><br />
        Tool um fehlende Antworten und Beiträge unserer Instanz hinzuzufügen.
      </p>
    </li>
  </ul>
</div>

<div id="mitgliedschaft">
  <h2>Teil von:</h2>
  <ul>
    <li>
      <p>
        <a href="https://rollenspiel.monster/"><strong>rollenspiel.monster</strong></a><br />
        Breits Softwareangebot für und von Rollenspielern.
      </p>
    </li>
    <li>
      <p>
        <a href="http://fedimins.net/"><strong>fedimins.net</strong></a><br />
        Ein Kollektiv aus Administrator*innen und Moderator*innen im Fediverse und teil des <a href="http://fedimins.net/covenant">Serverabkommen</a>.
      </p>
    </li>
  </ul>
</div>

<div id="team">
  <h2>Team</h2>
  <h3>Owner</h3>
  <ul>
    <li><a href="https://rollenspiel.social/Tealk">Tealk</a></li>
  </ul>
  <h3>Admin</h3>
  <ul>
    <li><a href="https://rollenspiel.social/@ZarJohn">ZarJohn</a></li>
  </ul>
  <h3>Moderator</h3>
  <ul>
    <li><a href="https://rollenspiel.social/@rkbw">rkbw</a></li>
    <li><a href="https://rollenspiel.social/@Frank">Frank</a></li>
  </ul>
</div>
