<p><a href="#english">English</a> version below</p>
<div id="german">
  <div id="links">
    <p>Hier finden Sie wichtige Links:</p>
    <ul>
      <li><a href="https://rollenspiel.monster/terms">Nutzungsbedingungen</a></li>
      <li><a href="https://rollenspiel.monster/charta/mastodon/">Charta</a></li>
      <li><a href="https://rollenspiel.monster/imprint">Impressum</a></li>
      <li><a href="/terms#datenschutzinformation">Datenschutzinformation</a></li>
    </ul>
  </div>
  <div id="impressum">
    <h1>Impressum</h1>
    <p>
      <strong>Angaben gemäß <a href="https://www.gesetze-im-internet.de/tmg/__5.html">§ 5 TMG</a></strong>
    </p>
    <p>
      Daniel Buck<br />
      Kirchenstr. 2<br />
      92693 Eslarn<br />
      Telefon: +49 156 78563777<br />
      E-Mail: <a href="mailto:webmaster@rollenspiel.social">webmaster@rollenspiel.social</a>
    </p>
    <p><strong>Verantwortlich für den Inhalt nach § 18 MStV</strong></p>
    <p>
      Daniel Buck<br />
      Kirchenstr. 2<br />
      92693 Eslarn
    </p>
    <p><strong>Haftung für Inhalte</strong></p>
    <p>
      Als Anbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf dieser Mastodon-Instanz nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
      Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
      konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden ich umgehend entsprechende Schritte ergreifen.
    </p>
    <p><strong>Haftung für Links</strong></p>
    <p>
      Diese Instanz enthält Links zu externen Webseiten, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die verlinkten Inhalte
      ist stets die jeweilige Anbieterin oder Betreiberin der Seiten verantwortlich. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist ohne konkrete Anhaltspunkte einer Rechtsverletzung
      nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich umgehend die gebotenen Schritte ergreifen.
    </p>
    <p><strong>Urheberrecht</strong></p>
    <p>
      Die hier durch die Mastodon-User oder mich erstellten Inhalte unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
      Grenzen des Urheberrechtes bedürfen in der Regel der schriftlichen Zustimmung der jeweiligen Autorin bzw. Erstellerin. Downloads und Kopien sind grundsätzlich nur für den privaten, nicht
      kommerziellen Gebrauch gestattet. Sollten Sie auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich
      hinsichtlich derartiger Inhalte umgehend die notwendigen Schritte ergreifen.
    </p>
  </div>
  <div id="datenschutzinformation">
    <h1>Datenschutzinformation</h1>
    <p>
      Im Folgenden informieren wir Dich gemäß der seit dem 25. Mai 2018 geltenden Datenschutzgrundverordnung der EU (DSGVO) über unseren Umgang mit Deinen personenbezogenen Daten und welche Rechte Du
      uns gegenüber hast.
    </p>
    <h2 id="verantwortlicher">Verantwortlicher</h2>
    <p>Verantwortlich für die Verarbeitung von personenbezogenen Daten ist:</p>
    <p>
      Daniel Buck<br />
      Telefon: +49 156 78563777<br />
      E-Mail: <a href="mailto:webmaster@rollenspiel.social">webmaster@rollenspiel.social</a>
    </p>
    <h2 id="anwendungen-und-services">Anwendungen und Services</h2>
    <p>
      Bei der Nutzung unseres Angebots werden verschiedene Arten von personenbezogen Daten unterschiedlich verarbeitet. Im Folgenden informieren wir Dich darüber, für welche Anwendungen und Services
      es jeweils welche Verarbeitungen es gibt, welche personenbezogenen Daten dabei betroffen sind, was der Zweck der jeweiligen Verarbeitung ist, wie lange die Daten jeweils gespeichert werden und
      noch einiges mehr.
    </p>
    <h2 id="deine-rechte">Deine Rechte</h2>
    <p>
      Das Datenschutzrecht gewährt Dir hinsichtlich der Verarbeitung Deiner personenbezogenen Daten folgende Rechte, deren genauen Wortlaut Du in den verlinkten Artikeln der DSGVO nachlesen kannst:
    </p>
    <ul>
      <li>Auskunftsrecht gemäß <a href="https://dsgvo-gesetz.de/art-15-dsgvo/">Art. 15 DSGVO</a></li>
      <li>Recht auf Berichtigung gemäß <a href="https://dsgvo-gesetz.de/art-16-dsgvo/">Art. 16 DSGVO</a></li>
      <li>Recht auf Löschung gemäß <a href="https://dsgvo-gesetz.de/art-17-dsgvo/">Art. 17 DSGVO</a></li>
      <li>Recht auf Einschränkung der Verarbeitung gemäß <a href="https://dsgvo-gesetz.de/art-18-dsgvo/">Art. 18 DSGVO</a></li>
      <li>Recht auf Unterrichtung gemäß <a href="https://dsgvo-gesetz.de/art-19-dsgvo/">Art. 19 DSGVO</a></li>
      <li>Recht auf Datenübertragbarkeit gemäß <a href="https://dsgvo-gesetz.de/art-20-dsgvo/">Art. 20 DSGVO</a></li>
      <li>Recht auf Widerruf erteilter Einwilligungen gemäß <a href="https://dsgvo-gesetz.de/art-7-dsgvo/">Art. 7 Abs. 3DSGVO</a></li>
      <li>Wiederspruchsrecht gemäß <a href="https://dsgvo-gesetz.de/art-21-dsgvo/">Art. 21 DSGVO</a></li>
      <li>Recht auf Beschwerde gemäß <a href="https://dsgvo-gesetz.de/art-77-dsgvo/">Art. 77 DSGVO</a></li>
    </ul>
    <p>Bitte beachte, dass die Wahrnehmung Deines Rechts auf Löschung, insbesondere Deiner Anmeldedaten, bedeuten kann, dass Du unser Angebot nicht mehr nutzen kannst.</p>
    <h2 id="aktualität-der-datenschutzinformation">Aktualität der Datenschutzinformation</h2>
    <p>
      Diese Datenschutzinformation kann von Zeit zu Zeit an organisatorische oder technische Änderungen und neue gesetzliche Gegebenheiten angepasst werden. Sie ist jeweils in der aktuellen hier
      veröffentlichten Version gültig.
    </p>
    <h2 id="verarbeitung-verschiedener-arten-von-personenbezogenen-daten">Verarbeitung verschiedener Arten von personenbezogenen Daten</h2>
    <p>
      Bei der Nutzung unserer Mastodon-Instanz werden verschiedene Arten von personenbezogen Daten unterschiedlich verarbeitet. Im Folgenden informieren wir Dich darüber, welche Verarbeitungen es
      gibt, welche personenbezogenen Daten jeweils betroffen sind, was der Zweck der jeweiligen Verarbeitung ist, wie lange die Daten jeweils gespeichert werden und noch einiges mehr.
    </p>
    <h3 id="aufruf-der-webanwendung-und-browser-zugriffsdaten">Aufruf der Webanwendung und Browser-Zugriffsdaten</h3>
    <ul>
      <li>
        <strong>Zweck</strong>: Wir stellen die Webanwendung zur Nutzung zur Verfügung, welche u.a. bestimmte Daten, z.B. Sprachinformationen, die der Browser mitsendet, zur passenden Darstellung
        nutzt.
      </li>
      <li>
        <strong>Personenbezogene Daten</strong>: Übertragen werden u.a., je nach verwendetem Browser und dessen Einstellung: Datum und Uhrzeit des Zugriffes, ggf. Quelle/Verweis, von welcher Seite Du
        auf unsere jeweilige gelangst, verwendeter Browser, verwendetes Betriebssystem, Sprachinformation, Größe des Browserfensters, verwendete IP-Adresse.
      </li>
      <li>
        <strong>Speicherdauer</strong>: Diese Daten werden von unserem Webserver nicht gespeichert. Mastodon erfasst die IP-Adresse, von der aus Sie sich anmelden, als auch den Namen Ihrer Anwendung
        bis zu 12 Monate lang.
      </li>
      <li>
        <strong>Rechtsgrundlage</strong>: Potenziellen Nutzern eine Übersicht über die Webanwendung zu ermöglichen und registrierten Nutzerinnen und Nutzern die volle Anwendungsfunktionalität zur
        Verfügung zu stellen, gem. Art. 6 Abs. 1 lit. b) DSGVO.
      </li>
      <li><strong>Empfänger</strong>: Deine Browser-Zugriffsdaten können nur wir als Betreiber und ggf. unser Provider einsehen.</li>
      <li><strong>Drittlandtransfer</strong>: Die Daten werden nicht in einem Drittland gespeichert.</li>
    </ul>
    <h3 id="registrierung-und-account-daten">Registrierung und Account-Daten</h3>
    <ul>
      <li><strong>Zweck</strong>: Die Accountdaten werden für die sichere Anmeldung der Nutzer, der späteren Nutzung der Anwendung und zur Verifizierung Deiner Identität benötigt.</li>
      <li><strong>Personenbezogene Daten</strong>: Benutzername, E-Mail-Adresse und Passwort.</li>
      <li><strong>Speicherdauer</strong>: Bis zur Löschung Deines Accounts. Das Löschen des Accounts erzwingt die Löschung aller Beiträge und Interaktionen.</li>
      <li>
        <strong>Rechtsgrundlage</strong>: Zustandekommen des Nutzungsverhältnisses zwischen uns als Betreiber der Anwendung und Dir als Nutzerin bzw. Nutzer des Mastodon-Kontos, gemäß Art. 6 Abs. 1
        lit. b) DSGVO.
      </li>
      <li><strong>Empfänger</strong>: Deine Account-Daten können nur wir und, falls vorhanden, unser Provider einsehen.</li>
      <li><strong>Weitergabe an Dritte</strong>: Die Anmeldedaten werden nicht an Dritte weitergegeben, außer ein Gesetz zwingt uns dazu.</li>
      <li><strong>Drittlandtransfer</strong>: E-Mail-Adresse und Passwort werden von uns nicht in einem Drittland außerhalb der EU gespeichert. Der Benutzername ist weltweit öffentlich.</li>
    </ul>
    <h3 id="optionale-profilinformationen">Optionale Profilinformationen</h3>
    <ul>
      <li><strong>Zweck</strong>: Freiwilliges weltweites Veröffentlichen weiterer Informationen über Dich.</li>
      <li><strong>Personenbezogene Daten</strong>: Anzeigename, Biographie (Über mich), Profilinformationsfelder, Profilbild und Titelbild, wem Du folgst und wer Dir folgt.</li>
      <li><strong>Speicherdauer</strong>: Bis zur Löschung durch Dich oder des Accounts.</li>
      <li><strong>Rechtsgrundlage</strong>: Die Einwilligung durch freiwillige Angabe der Daten gem. Art. 6 Abs. 1 lit. a) DSGVO.</li>
      <li>
        <strong>Empfänger</strong>: Deine Profilinformationen Anzeigename, Biographie, Profilbild und Titelbild sind immer öffentlich. Andere Informationen, wie Personen, die Dir folgen oder denen Du
        folgst, können in Ihrer Sichtbarkeit von dir eingeschränkt werden.
      </li>
      <li><strong>Weitergabe an Dritte</strong>: keine.</li>
      <li>
        <strong>Drittlandtransfer</strong>: Alle angegebenen Profilinformationen sind weltweit öffentlich abrufbar. Sie erscheinen durch die Förderation ggf. auch auf Servern in Drittländern und
        unterliegen dort der lokalen Rechtsprechung.
      </li>
    </ul>
    <h3 id="beiträge-und-interaktionen">Beiträge und Interaktionen</h3>
    <ul>
      <li><strong>Zweck</strong>: Veröffentlichen von eigenen Microblog-Posts (Toots) und Veröffentlichen (Boosten) der Posts anderer, wenn gewünscht, ggf. sogar weltweit.</li>
      <li>
        <strong>Personenbezogene Daten</strong>: Alle Deine Beiträge, einschließlich Username, der Anhänge und anderer Interaktionen (wie z.B. Favoriten, Folgen und Reblogs), inkl. aller Metadaten,
        wie Zeitstempel.
      </li>
      <li><strong>Speicherdauer</strong>: Bis zur Löschung durch Dich oder des Accounts.</li>
      <li>
        <strong>Rechtsgrundlage</strong>: Die Einwilligung durch Veröffentlichen von Beiträgen gem. Art. 6 Abs. 1 lit. a) DSGVO. Beim Boosten der Toots anderer bist Du als Nutzerin bzw. Nutzer des
        Kontos dafür verantwortlich, dass deren Datenschutzrechte eingehalten werden.
      </li>
      <li>
        <strong>Empfänger</strong>: Deine Beiträge und Interaktionen sind prinzipiell öffentlich, können aber durch die von Dir gewählten Optionen in der Sichtbarkeit bzw. Förderierung eingeschränkt
        werden. Die Optionen sind: öffentlich, öffentlich, aber nicht in der öffentlichen Timeline gelistet, nur für Follower oder nur an erwähnte User.
      </li>
      <li>
        <strong>Weitergabe an Dritte</strong>: &quot;Prinzipiell öffentlich&quot; bedeutet, dass diese Inhalte weltweit an andere Server förderiert werden, deren Datenschutz und Verarbeitung dieser
        Daten wir nicht kontrollieren können. Microblogging ist prinzipiell öffentlich, für persönliche nicht-öffentliche Kommunikation müssen andere Mittel genutzt werden.
      </li>
      <li><strong>Drittlandtransfer</strong>: Alle geschrieben Beiträge sind weltweit öffentlich abrufbar.</li>
    </ul>
    <h3 id="meldung-von-inhalten-und-moderation">Meldung von Inhalten und Moderation</h3>
    <ul>
      <li><strong>Zweck</strong>: Wir moderieren gemeldete Inhalte zur Einhaltung der Nutzungsbedingungen und der geltenden Gesetze.</li>
      <li><strong>Personenbezogene Daten</strong>: Alle Inhalte, Accountdaten und weiteren Angaben von Dir</li>
      <li>
        <strong>Speicherdauer</strong>: Gemeldete Beiträge werden beim Melden markiert, bis ein Moderator über das weitere Vorgehen entscheidet. Bei Verstößen gegen Gesetze oder Nutzungsbedingungen
        werden Beiträge zeitnah gelöscht. Bei gesetzlicher Verpflichtung müssen die obigen Daten u.U. als Beweismittel gesichert und an Behörden übergeben werden.
      </li>
      <li>
        <strong>Rechtsgrundlage</strong>: Bei notwendiger Herausgabe an Behörden geltende Gesetze einzuhalten gem. Art. 6 Abs. 1 lit. c) DSGVO bzw. sonst das berechtigtes Interesse gem. Art. 6 Abs. 1
        lit. f) DSGVO, die Einhaltung der Nutzungsbedingungen zu ermöglichen.
      </li>
      <li><strong>Empfänger</strong>: Wir als Betreiber inkl. ggf. benannter Moderatoren</li>
      <li>
        <strong>Weitergabe an Dritte</strong>: Bei Gesetzesverstößen, die meldepflichtig sind, werden alle benötigten Beweismittel an die Ermittlungsbehörden gegeben. Ansonsten werden keine Daten
        Dritten zugänglich gemacht.
      </li>
      <li><strong>Drittlandtransfer</strong>: Keiner</li>
    </ul>
    <h3 id="cookies">Cookies</h3>
    <ul>
      <li><strong>Zweck</strong>: Wir verwenden Cookies, um Dich eingeloggt zu halten und Deine Einstellungen für zukünftige Besuche zu speichern./li></li>
      <li>
        <strong>Personenbezogene Daten</strong>: Ein Session-Cookie <code>_mastodon_session</code>, um Sie eingeloggt zu halten, ein <code>_session_id</code> Cookie, das Sie für später speichert und
        ein Cookie namens <code>remember_user_token</code>, um Sie als Benutzer länger zu speichern./li>
      </li>

      <li>
        <strong>Speicherdauer</strong>: Cookie <code>_mastodon_session</code> bis Du Dich ausloggst und die Browser-Sitzung beendest, <code>_session_id</code> und <code>remember_user_token</code> für
        ein Jahr./li>
      </li>

      <li>
        <strong>Rechtsgrundlage</strong>: Technische Erfüllung des Nutzungsverhältnisses zwischen uns als Betreiber der Anwendung und Dir als Nutzerin bzw. Nutzer des Mastodon-Kontos, gemäß Art. 6
        Abs. 1 lit. b) DSGVO.
      </li>
      <ul>
        <li><strong>Empfänger</strong>: Nur Du, gespeichert im Webbrowser</li>
        <li><strong>Weitergabe an Dritte</strong>: Keine</li>
        <li><strong>Drittlandtransfer</strong>: Keiner</li>
      </ul>
    </ul>
  </div>
</div>
<hr />
<div id="english">
  <div id="links">
    <p>Here you will find important links:</p>
    <ul>
      <li><a href="https://rollenspiel.monster/terms">Terms of use</a></li>
      <li><a href="https://rollenspiel.monster/charta/mastodon/">Charta</a></li>
      <li><a href="https://rollenspiel.monster/imprint">Imprint</a></li>
      <li><a href="/terms#datenschutzinformation">Privacy information</a></li>
    </ul>
  </div>
  <div id="imprint">
    <h1>Imprint</h1>
    <p>
      <strong>Information according to <a href="https://www.gesetze-im-internet.de/tmg/__5.html">§ 5 TMG</a></strong>
    </p>
    <p>
      Daniel Buck<br />
      Kirchenstr. 2<br />
      92693 Eslarn<br />
      phone: +49 156 78563777<br />
      E-Mail: <a href="mailto:webmaster@rollenspiel.social">webmaster@rollenspiel.social</a>
    </p>
    <p><strong>Responsible for the content according to § 18 MStV</strong></p>
    <p>
      Daniel Buck<br />
      Kirchenstr. 2<br />
      92693 Eslarn
    </p>
    <p><strong>Liability for contents</strong></p>
    <p>
      As a provider I am responsible according to § 7 Abs. 1 TMG for my own content on this Mastodon instance according to the general laws. According to §§ 8 to 10 TMG I am not obligated to monitor
      transmitted or stored information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected.
      However, liability in this regard is only possible from the point in time at which a concrete infringement of the law becomes known. Upon becoming aware of any such infringement, I will
      immediately take appropriate action.
    </p>
    <p><strong>Liability for links</strong></p>
    <p>
      This instance contains links to external websites, on which contents I have no influence. Therefore, I cannot take any responsibility for these external contents. The respective provider or
      operator of the sites is always responsible for the linked content. A permanent control of the linked pages is not reasonable without concrete evidence of a violation. If I become aware of any
      infringement, I will immediately take the necessary steps.
    </p>
    <p><strong>Copyright</strong></p>
    <p>
      The content created here by Mastodon users or me is subject to German copyright law. Duplication, processing, distribution, or any form of commercialization of such material beyond the scope of
      the copyright law shall require the prior written consent of its respective author or creator. Downloads and copies are only permitted for private, non-commercial use. Should you become aware of
      any copyright infringement, please inform me. If I become aware of any infringement, I will immediately take the necessary steps with regard to such content.
    </p>
  </div>
  <div id="data-protection-information">
    <h1>Data protection information</h1>
    <p>
      In the following we inform you according to the EU General Data Protection Regulation (GDPR), applicable since May the 25th of 2018, about our handling of your personal data and what rights you
      have towards us.
    </p>
    <h2 id="person-responsible">Person responsible</h2>
    <p>Responsible for the processing of personal data is:</p>
    <p>
      Daniel Buck<br />
      Phone: +49 156 78563777<br />
      Email: <a href="mailto:webmaster@rollenspiel.social">webmaster@rollenspiel.social</a>
    </p>
    <h2 id="applications-and-services">Applications and services</h2>
    <p>
      When using our offers, different types of personal data are processed differently. In the following, we will inform you about which applications and services process which information, which
      personal data are affected, what the purpose of the respective processing is, how long the data are stored and much more.
    </p>
    <h2 id="your-rights">Your rights</h2>
    <p>The data protection law grants you the following rights with regard to the processing of your personal data, the exact wording of which you can read in the linked articles of the GDPR:</p>
    <ul>
      <li>Right of access by the data subject pursuant to <a href="https://gdpr-info.eu/art-15-gdpr/">Art. 15 GDPR</a></li>
      <li>Right to rectification according to <a href="https://gdpr-info.eu/art-16-gdpr/">Art. 16 GDPR</a></li>
      <li>Right to erasure according to <a href="https://gdpr-info.eu/art-17-gdpr/">Art. 17 GDPR</a></li>
      <li>Right to restriction of processing pursuant to <a href="https://gdpr-info.eu/art-18-gdpr/">Art. 18 GDPR</a></li>
      <li>Notification obligation regarding rectification or erasure of personal data or restriction of processing pursuant to <a href="https://gdpr-info.eu/art-19-gdpr/">Art. 19 GDPR</a></li>
      <li>Right to data portability pursuant to <a href="https://gdpr-info.eu/art-20-gdpr/">Art. 20 GDPR</a></li>
      <li>Right to withdraw consent given in accordance with <a href="https://gdpr-info.eu/art-7-gdpr/">Art. 7(3) GDPR</a></li>
      <li>Right to object pursuant to <a href="https://gdpr-info.eu/art-21-gdpr/">Art. 21GDPR</a></li>
      <li>Right to lodge a complaint pursuant to <a href="https://gdpr-info.eu/art-77-gdpr/">Art. 77 GDPR</a></li>
    </ul>
    <p>Please note that exercising your right to erasure, especially of your registration data, may mean that you can no longer use our service.</p>
    <h2 id="actuality-of-the-data-protection-information">Actuality of the data protection information</h2>
    <p>
      This data protection information can be adapted from time to time to organizational or technical changes and new legal circumstances. It is always valid in the current version published here.
    </p>
    <h2 id="processing-of-different-types-of-personal-data">Processing of different types of personal data</h2>
    <p>
      When using our Mastodon instance, different types of personal data are processed differently. In the following, we will inform you about which types of processing exist, which personal data are
      affected in each case, what the purpose of the respective processing is, how long the data is stored in each case and much more.
    </p>
    <h3 id="calling-the-web-application-and-browser-access-data">Calling the web application and browser access data.</h3>
    <ul>
      <li>
        <strong>Purpose</strong>: We provide the web application for your use, which, among other things, uses certain data, e.g. language information sent along by the browser, for appropriate
        display.
      </li>
      <li>
        <strong>Personal Data</strong>: Transmitted are, among other things, depending on the browser used and its settings: date and time of access, if applicable, source/reference, which page
        redirected you to which one of ours, browser used, operating system used, language information, size of the browser window, IP address used.
      </li>
      <li>
        <strong>Storage period</strong>: This data is not stored by our web server. Mastodon collects the IP address from which you log in as well as the name of your application for up to 12 months.
      </li>
      <li>
        <strong>Legal basis</strong>: To provide potential users with an overview of the web application and to provide registered users with the full application functionality, according to Art. 6
        para. 1 lit. b) GDPR.
      </li>
      <li><strong>Receiver</strong>: Your browser access data can only be viewed by us as the operator and, if applicable, our provider.</li>
      <li><strong>Third Country Transfer</strong>: The data will not be stored in a third country.</li>
    </ul>
    <h3 id="registration-and-account-data">Registration and account data</h3>
    <ul>
      <li><strong>Purpose</strong>: The account data is required for secure user registration, subsequent use of the application and to verify your identity.</li>
      <li><strong>Personal Data</strong>: Username, email address and password.</li>
      <li><strong>Storage period</strong>: Until your account is deleted. Deletion of the account will force the deletion of all posts and interactions.</li>
      <li>
        <strong>Legal basis</strong>: Establishment of the user relationship between us as the operator of the application and you as the user of the Mastodon account, pursuant to Art. 6 para. 1 lit.
        b) GDPR.
      </li>
      <li><strong>Receiver</strong>: Your account data can only be viewed by us and, if available, our provider.</li>
      <li><strong>Transfer to third parties</strong>: The login data will not be shared with third parties, unless a law forces us to do so.</li>
      <li><strong>Third Party Transfer</strong>: Email address and password are not stored by us in a third party country outside the EU. The username is public worldwide.</li>
    </ul>
    <h3 id="optional-profile-information">Optional profile information</h3>
    <ul>
      <li><strong>Purpose</strong>: Voluntary worldwide publishing of more information about you.</li>
      <li><strong>Personal Information</strong>: Display name, biography (About Me), profile information fields, profile picture and cover photo, whom you follow and who follows you.</li>
      <li><strong>Storage period</strong>: Until deleted by you or deletion of the account.</li>
      <li><strong>Legal basis</strong>: Consent by voluntarily providing the data according to Art. 6 para. 1 lit. a) GDPR.</li>
      <li>
        <strong>Recipient</strong>: Your profile information display name, biography, profile picture and cover picture are always public. Other information, such as people who follow you or whom you
        follow, may be restricted in your visibility by you.
      </li>
      <li><strong>Transfer to third parties</strong>: none.</li>
      <li>
        <strong>Third Party Transfer</strong>: All profile information provided is publicly available worldwide. It may also appear on servers in third party countries through Federation and is
        subject to local jurisdiction there.
      </li>
    </ul>
    <h3 id="posts-and-interactions">Posts and Interactions</h3>
    <ul>
      <li><strong>Purpose</strong>: Publishing own microblog posts (toots) and publishing (boosting) the posts of others, if desired, possibly even worldwide.</li>
      <li>
        <strong>Personal Data</strong>: All your posts, including username, the attachments and other interactions (such as favorites, follows and reblogs), including all metadata, such as timestamps.
      </li>
      <li><strong>Storage period</strong>: Until deleted by you or deletion of the account.</li>
      <li>
        <strong>Legal basis</strong>: Consent by publishing posts according to Art. 6 para. 1 lit. a) GDPR. When boosting the toots of others, you as the user of the account are responsible for
        ensuring that their privacy rights are respected.
      </li>
      <li>
        <strong>Receiver</strong>: Your posts and interactions are in principle public, but can be restricted in visibility or promotion by the options you choose. The options are: public, public but
        not listed in the public timeline, only for followers or only to mentioned users.
      </li>
      <li>
        <strong>Sharing with third parties</strong>: &quot;Public in principle&quot; means that this content is promoted to other servers worldwide, whose privacy and processing of this data we cannot
        control. Microblogging is in princible public, for private non-public communication other means must be used.
      </li>
      <li><strong>Third Party Transfer</strong>: All posts written are publicly available worldwide.</li>
    </ul>
    <h3 id="reporting-of-content-and-moderation">Reporting of content and moderation.</h3>
    <ul>
      <li><strong>Purpose</strong>: We moderate reported content for compliance with the Terms of Use and applicable laws.</li>
      <li><strong>Personal Data</strong>: All content, account data, and other information by you.</li>
      <li>
        <strong>Duration of Storage</strong>: Reported posts will be flagged when reported until a moderator decides on further action. In case of violations of laws or terms of use, posts will be
        deleted promptly. In case of legal obligation, the above data may have to be saved as evidence and handed over to authorities.
      </li>
      <li>
        <strong>Legal basis</strong>: In case of necessary surrender to authorities to comply with applicable laws according to Art. 6 para. 1 lit. c) GDPR or otherwise the legitimate interest
        according to Art. 6 para. 1 lit. f) GDPR to enable compliance with the terms of use.
      </li>
      <li><strong>Receiver</strong>: We as the operator incl. named moderators, if applicable.</li>
      <li>
        <strong>Transfer to third parties</strong>: In case of violations of the law that have to be reported, all required evidence will be given to the investigating authorities. Otherwise, no data
        will be made available to third parties.
      </li>
      <li><strong>Third Party Transfer</strong>: None</li>
    </ul>
    <h3 id="cookies">Cookies</h3>
    <ul>
      <li><strong>Purpose</strong>: We use cookies to keep you logged in and save your settings for future visits.</li>
      <li>
        <strong>Personal Data</strong>: A session cookie <code>_mastodon_session</code> to keep you logged in, a <code>_session_id</code> cookie to save you for later, and a cookie called
        <code>remember_user_token</code> to keep you as a user longer.
      </li>
      <li>
        <strong>Save duration</strong>: Cookie <code>_mastodon_session</code> until you log out and end the browser session, <code>_session_id</code> and <code>remember_user_token</code> for one year.
      </li>
      <li>
        <strong>Legal basis</strong>: Technical fulfillment of the user relationship between us as the operator of the application and you as the user of the Mastodon account, pursuant to Art. 6 para.
        1 lit. b) GDPR.
      </li>
      <ul>
        <li><strong>Receiver</strong>: Only you, stored in the web browser</li>
        <li><strong>Transmission to third parties</strong>: None</li>
        <li><strong>Third Party Transfer</strong>: None</li>
      </ul>
    </ul>
  </div>
</div>
